<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ tituloModal }}</h4>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">{{ textoModal}}</label>
          <input type="text" class="form-control" [(ngModel)]="mensajeResenia" [readonly]="readonly">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closePopup()">
          Cerrar
        </button>

        <button *ngIf="mostrarBoton" type="button" class="btn btn-danger" (click)="cancelarTurno()">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayCalificacionStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ tituloCalificacionModal }}</h4>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">{{ textoLabelCalifiacion}}</label>
          <input type="text" class="form-control" [(ngModel)]="mensajeCalificacion" [readonly]="readonlyCalificacion">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closePopup()">
          Cerrar
        </button>

        <button *ngIf="mostrarBotonCalificacion" type="button" class="btn btn-danger" (click)="calificarAtencion()">
          Enviar calificación
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayFormStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Encuesta</h4>
      </div>
      <div *ngIf="editableDivForm;else datosForm" class="modal-body">
        <div class="mb-3">
          <label for="form-label">¿Qué tanto tuviste que esperar para ser atendido?</label>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="tiempoEspera" type="radio" value="demasiado"
              name="tiempoEspera" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Demasiado
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="tiempoEspera" type="radio" value="poco"
              name="tiempoEspera" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Esperé poco
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="tiempoEspera" type="radio" value="rapido"
              name="tiempoEspera" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Me atendieron rápido
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label for="form-label">¿Cómo calificarías la atención en recepción?</label>
          <div class="form-check">

            <input class="form-check-input" [(ngModel)]="recepcion" type="radio" value="mala" name="recepcion"
              id="recepcionBuena">
            <label class="form-check-label" for="recepcionBuena">
              Mala
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="recepcion" type="radio" value="regular" name="recepcion"
              id="recepcionRegular">
            <label class="form-check-label" for="tiempoRegular">
              Regular
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="recepcion" value="buena" type="radio" name="recepcion"
              id="recepcionBuena">
            <label class="form-check-label" for="recepcionBuena">
              Buena
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label for="sugerencia" class="form-label">Breve sugerencia</label>
          <input type="text" [(ngModel)]="sugerencia" class="form-control" id="sugerencia" name="sugerencia">
        </div>

      </div>

      <ng-template #datosForm>
        <div class="mb-3">
          <label for="sugerencia" class="form-label">Calificación de tiempo de espera:</label>
          <input type="text" [value]="tiempoEsperaButton" readonly class="form-control" id="tiempoEspera" name="tiempoEspera">
        </div>
        <div class="mb-3">
          <label for="sugerencia" class="form-label">Calificación de la recepción</label>
          <input type="text" [value]="recepcionButton" readonly class="form-control" id="recepcion" name="recepcion">
        </div>
        <div class="mb-3">
          <label for="sugerencia" class="form-label">Breve sugerencia</label>
          <input type="text" [value]="sugerenciaMensaje" readonly class="form-control" id="sugerencia"
            name="sugerencia">
        </div>

      </ng-template>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeDivForm()">
          Cerrar
        </button>

        <button *ngIf="editableDivForm" type="button" class="btn btn-danger" (click)="completarEncuesta()">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4>Mis turnos</h4>

  <div class="col-md-3 border border-dark mx-2 p-3">
    <h5>Buscar por:</h5>
    <button class="btn btn-warning m-2" (click)="mostrarEspecialidades()">Especialidad</button>
    <button class="btn btn-warning m-2" (click)="mostrarEspecialistas()">Especialista</button>
  </div>

  <div *ngIf="divEspecialidades" class="col-md-2 border border-dark mx-2 p-3">
    <h4>Especialidades</h4>
    <button *ngFor="let especialidad of arrayFiltroEspecialidad" class="btn btn-warning m-2"
      (click)="mostrarTurnosPorEspecialidades(especialidad)">{{ especialidad }}</button>
  </div>

  <div *ngIf="divEspecialistas" class="col-md-2 border border-dark mx-2 p-3">
    <h4>Especialistas</h4>
    <button *ngFor="let especialista of arrayFiltroEspecialistas" class="btn btn-warning m-2"
      (click)="mostrarTurnosPorEspecialista(especialista)">{{ especialista }}</button>
  </div>

  <table *ngIf="mostrarTabla" class="table w-75">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Especialista</th>
        <th scope="col">Estado</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosReservadosAMostrar">
        <td>{{ turno.fecha | date:'short' }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>{{ turno.nombreEspecialista }}</td>
        <td><strong>Reservado</strong></td>
        <td><button class="btn btn-danger" (click)="editarDivModal(turno,'turnos_reservados')">Cancelar</button></td>
      </tr>

      <tr *ngFor="let turno of turnosAceptadosAMostrar">
        <td>{{ turno.fecha | date:'short' }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>{{ turno.nombreEspecialista }}</td>
        <td><strong>Aceptado</strong></td>
        <td><button class="btn btn-danger" (click)="editarDivModal(turno,'turnos_aceptados')">Cancelar</button></td>
      </tr>

      <tr *ngFor="let turno of turnosRechazadosAMostrar">
        <td>{{ turno.fecha | date:'short' }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>{{ turno.nombreEspecialista }}</td>
        <td><strong>Rechazado</strong></td>
        <td><button class="btn btn-success" (click)="verResenia('turnos_rechazados',turno)">Ver reseña</button></td>
      </tr>

      <tr *ngFor="let turno of turnosCanceladosAMostrar">
        <td>{{ turno.fecha | date:'short' }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>{{ turno.nombreEspecialista }}</td>
        <td><strong>Cancelado</strong></td>
        <td><button class="btn btn-success" (click)="verResenia('turnos_cancelados',turno)">Ver reseña</button></td>
      </tr>

      <tr *ngFor="let turno of turnosFinalizadosAMostrar">
        <td>{{ turno.fecha | date:'short' }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>{{ turno.nombreEspecialista }}</td>
        <td><strong>Finalizado</strong></td>
        <td>
          <button class="btn btn-success btn-sm" (click)="verResenia('diagnostico',turno)">Ver reseña</button>
          <button class="btn btn-primary btn-sm" (click)="editarCalificacion(turno,'calificacion')">Calificar
            atención</button>
          <button class="btn btn-light btn-sm" (click)="verEncuesta(turno)">Ver encuesta</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>