<div class="container-fluid">

    <div>
        <div class="row d-flex align-items-center justify-content-center div">

            <h2 class="text-center mt-5">Ingreso a la clínica</h2>
    
            <form class="w-50 m-auto" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" placeholder="name@example.com" formControlName="mail">
                    <label>Email address</label>
                    <small class="invalid text-danger" *ngIf="formulario.controls['mail'].errors?.['required'] &&
            formulario.controls['mail'].touched">
                        El mail es requerido.
                    </small>
                    <small class="invalid text-danger"
                        *ngIf="formulario.controls['mail'].errors?.['email'] && formulario.controls['mail'].touched">
                        El mail no tiene un formato válido.
                    </small>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    <label>Password</label>
                    <small class="invalid text-danger" *ngIf="formulario.controls['password'].errors?.['required'] &&
              formulario.controls['password'].touched">
                        El password es requerido.
                    </small>
                </div>
                <div *ngIf="mensaje" class="alert alert-warning alert-dismissible fade show w-100 mt-2 mx-auto" role="alert">
                    <strong>Atención!</strong> {{ mensaje }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg mt-3" type="submit">Ingresar</button>
                </div>
                <p class="mt-3 text-center">No tenés cuenta? <a class="text-dark" routerLink="/registro">Registrate</a></p>
            </form>
            <!-- ./../../../../assets/imagenes/paciente.png -->
    
            <div class="row m-auto">
                <div class="row mt-2 mx-auto">
                    <div class="col">
                        <a (click)="cargarDatos('admin')" class="btn btn-primary roll-in-blurred-left"><img class="img-fluid"
                                [src]="urlImagenAdmin"
                                alt="Imagen de administrador">Administrador</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('paciente','4')" class="btn btn-dark roll-in-blurred-left"><img class="img-fluid"
                                [src]="urlImagenRicardo" alt="Imagen de paciente"><br>Paciente Ricardo
                            Ledesma</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('paciente','5')" class="btn btn-dark roll-in-blurred-left"><img class="img-fluid"
                                [src]="urlImagenMaria" alt="Imagen de paciente"><br>Paciente Maria
                            Gómez</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('paciente','6')" class="btn btn-dark roll-in-blurred-right"><img class="img-fluid"
                                [src]="urlImagenJuan" alt="Imagen de paciente"><br>Paciente Juan
                            Pérez</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('especialista','1')" class="btn btn-danger roll-in-blurred-right"><img class="img-fluid"
                                [src]="urlImagenTito" alt="Imagen de especialista"><br>Especialista Tito
                            Gomez</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('especialista','2')" class="btn btn-danger roll-in-blurred-right"><img class="img-fluid"
                                [src]="urlImagenLaura" alt="Imagen de especialista"><br>Especialista Laura
                            Diaz</a>
                    </div>
                    <div class="col">
                        <a (click)="cargarDatos('especialista','3')" class="btn btn-danger roll-in-blurred-right"><img class="img-fluid"
                                [src]="urlImagenDario" alt="Imagen de especialista"><br>Especialista Darío
                            Gonzalez</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</div>