<app-nav></app-nav>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Comprueba que eres un humano</h4>
        </div>
        <div class="modal-body">
          <div class="mb-3 text-center">
            <strong class="mt-5" [ngStyle]="{'color':colorPalabra}">{{ palabraAMostrar }}</strong>
            <br>
            <label for="exampleFormControlInput1" class="form-label">¿De qúe color es la palabra?</label>
            <input type="text" class="form-control" [(ngModel)]="respuesta">
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Cerrar
          </button>
  
          <button type="button" class="btn btn-secondary" (click)="verificarCaptcha()">
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <h4 class="mt-5 mb-2 text-center">Registro de pacientes</h4>

    <div class="row-md-9 w-75 mx-auto">
        <form class="row g-3" [formGroup]="formulario" (ngSubmit)="mostrarCaptcha()">
            <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <small class="invalid text-danger" *ngIf="formulario.controls['nombre'].errors?.['required'] &&
          formulario.controls['nombre'].touched">
                    El nombre es requerido
                </small>
            </div>
            <div class="col-md-4">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" formControlName="apellido">
                <small class="invalid text-danger" *ngIf="formulario.controls['apellido'].errors?.['required'] &&
          formulario.controls['apellido'].touched">
                    El apellido es requerido
                </small>
            </div>
            <div class="col-md-4">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" formControlName="edad">
                <small class="invalid text-danger" *ngIf="formulario.controls['edad'].errors?.['required'] &&
            formulario.controls['edad'].touched">
                    La edad es requerida
                </small>
                <small class="invalid text-danger" *ngIf="(formulario.controls['edad'].errors?.['min'] || 
            formulario.controls['edad'].errors?.['max']) &&
            formulario.controls['edad'].touched">
                    La edad debe ser de 18 a 99 años
                </small>
            </div>
            <div class="col-md-4">
                <label for="dni" class="form-label">Dni</label>
                <input type="text" class="form-control" id="dni" formControlName="dni">
                <small class="invalid text-danger" *ngIf="formulario.controls['dni'].errors?.['required'] &&
          formulario.controls['dni'].touched">
                    El dni es requerido.
                </small>
                <small class="invalid text-danger"
                    *ngIf="(formulario.controls['dni'].hasError('minlength') || formulario.controls['dni'].hasError('maxlength')) && formulario.controls['dni'].touched">
                    El dni solo puede tener 8 dígitos
                </small>
                <small class="invalid text-danger" *ngIf="formulario.controls['dni'].errors?.['pattern'] &&
          formulario.controls['dni'].touched">
                    Solo puede ingresar números
                </small>
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Mail</label>
                <input type="email" class="form-control" id="email" formControlName="mail">
                <small class="invalid text-danger" *ngIf="formulario.controls['mail'].errors?.['required'] &&
          formulario.controls['mail'].touched">
                    El mail es requerido.
                </small>
                <small class="invalid text-danger"
                    *ngIf="formulario.controls['mail'].errors?.['email'] && formulario.controls['mail'].touched">
                    El mail no tiene un formato válido.
                </small>
            </div>
            <div class="col-md-4">
                <label for="obraSocial" class="form-label">Obra social</label>
                <input type="text" class="form-control" id="obraSocial" formControlName="obraSocial">
                <small class="invalid text-danger" *ngIf="formulario.controls['obraSocial'].errors?.['required'] &&
          formulario.controls['obraSocial'].touched">
                    Complete este campo.
                </small>
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <small class="invalid text-danger" *ngIf="formulario.controls['password'].errors?.['required'] &&
          formulario.controls['password'].touched">
                    El password es requerido.
                </small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="imagenUno" class="form-label">Suba una imagen de perfil</label>
                <input class="form-control" type="file" accept=".png, .jpg" id="imagenUno" formControlName="imagenUno"
                    (change)="uploadImagen($event,'imagenUno')">
                <small class="invalid text-danger" *ngIf="formulario.controls['imagenUno'].errors?.['required'] &&
          formulario.controls['imagenUno'].touched">
                    Debe subir una imagen.
                </small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="imagenDos" class="form-label">Suba otra imagen de perfil</label>
                <input class="form-control" type="file" accept=".png, .jpg" id="imagenDos" formControlName="imagenDos"
                    (change)="uploadImagen($event,'imagenDos')">
                <small class="invalid text-danger" *ngIf="formulario.controls['imagenDos'].errors?.['required'] &&
          formulario.controls['imagenDos'].touched">
                    Debe subir una imagen.
                </small>
            </div>

            <div class="col-12">
                <button [disabled]="formulario.invalid" type="submit" class="btn btn-success btn-lg"
                    id="btn-encuesta">Enviar</button>
            </div>
        </form>
    </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>