<div class="row-md-9 w-75 mx-auto">
    <div class="row g-3">
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" readonly [value]="nombre">            
        </div>
        <div class="col-md-4">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" readonly [value]="apellido">
        </div>
        <div class="col-md-4">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" readonly [value]="edad">
        </div>
        <div class="col-md-4">
            <label for="dni" class="form-label">Dni</label>
            <input type="text" class="form-control" id="dni" readonly [value]="dni">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Mail</label>
            <input type="email" class="form-control" id="email" readonly [value]="mail">
        </div>
        <div *ngIf="obraSocial" class="col-md-4">
            <label for="obraSocial" class="form-label">Obra social</label>
            <input type="text" class="form-control" id="obraSocial" readonly [value]="obraSocial">
        </div>
        <div *ngIf="especialidades.length > 0" class="col-md-4">
            <label class="form-label">Especialidades</label>
            <br>
            <strong *ngFor="let esp of especialidades">{{ esp }}<br></strong>
        </div>
        <div class="col-md-4">
            <label for="obraSocial" class="form-label">Imagen uno</label>
            <br>
            <img [src]="urlImgenUno" alt="Imagen de perfil uno">
        </div>
        <div *ngIf="urlImagenDos" class="col-md-4">
            <label for="obraSocial" class="form-label">Imagen Dos</label>
            <br>
            <img [src]="urlImagenDos" alt="Imagen de perfil dos">
        </div>
        
        
    </div>
</div>


<ngx-spinner type="ball-scale-multiple"></ngx-spinner>