<app-nav></app-nav>

<div class="d-flex justify-content-center align-items-center div">

    <div class="border border-dark w-50">
        <h2 class="text-center mb-2">Soy</h2>

        <div class="row">
            <div class="col text-center">
                <a routerLink="registro-especialista" class="btn btn-primary"><img
                        src="./../../../../assets/imagenes/medico.png" alt="Imagen de médico."></a>
                <br>
                <strong>Especialista</strong>
            </div>
            <div class="col text-center">
                <a routerLink="registro-paciente" class="btn btn-danger"><img
                        src="./../../../../assets/imagenes/paciente.png" alt="Imagen de paciente."></a>
                <br>
                <strong>Paciente</strong>
            </div>
        </div>
    </div>
</div>