/* You can add global styles to this file, and also import other style files */
#bg {
    background-image:url("assets/imagenes/hospital-banner-background_6222425.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}